* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p {
  background-color: #dde0e3;
}

em,
strong {
  background-color: #b2d6ff;
  display: inline;
}

h1 {
  padding: 50px;
  border: 1px solid #5d6060;
}

p {
  padding: 20px 10px;
  margin-top: 25px;
  margin-bottom: 50px;
}

div {
  color: #fff;
  font-weight: bold;
  padding: 20px;
  border: 2px solid #5d6063;
  border-radius: 5px;
  background-color: #5995da;
  width: 100px;
  text-align: center;
  margin: 20px auto;
}